{% extends 'partials/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include './partials/_message.twig' %}
    <h1>Добро пожаловать, {{ name }}.</h1>
    <h2>Список Ваших серверов</h2>
    <div id="server-list">
        {% if servers|length > 0 %}
            {% for server in servers %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between mb-2">
                            <h5>{{ server.hostname }}</h5>
                            <a href="/delete-server/{{ server.id }}/" class="btn btn-danger">Удалить сервер</a>
                        </div>

                        <div class="d-flex justify-content-between mb-5">
                            <span>Количество ядер: {{ server.CPU_number }}</span>
                            <span>
                                Статус сервера:
                                {% if server.status == 'on' %}
                                    <span class="text-success">{{ server.status }}</span>
                                {% else %}
                                    <span class="text-danger">{{ server.status }}</span>
                                {% endif %}
                            </span>
                        </div>
                        <a href="/view-server/{{ server.id }}/" class="btn btn-success">Узнать больше</a>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Сервер добавлен: {{ server.createdAt }}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div>
                Вы не добавили ни одного сервера!
            </div>
        {% endif %}
    </div>
{% endblock %}
