{% extends 'partials/base.twig' %}

{% block title %}
    Сервер: {{ title }}
{% endblock %}

{% block content %}
    {% include '../partials/_message.twig' %}
    <h1>Сервер {{ title }} пользователя {{ name }}</h1>
    <form method="post" action="/update-server-post/{{ server.id }}/">
        <div class="mb-3">
            <label for="hostname" class="form-label">Наименование хоста</label>
            <input type="text" name="hostname" class="form-control" id="hostname" value="{{ server.hostname ? server.hostname }}">
        </div>
        <div class="mb-3">
            <label for="CPU_number" class="form-label">Количество процессорных ядер</label>
            <input type="text" name="CPU_number" class="form-control" id="CPU_number" value="{{ server.CPU_number ? server.CPU_number }}">
        </div>
        <div class="mb-3">
            <label for="cpu_load" class="form-label">CPU load</label>
            <input type="text" name="cpu_load" class="form-control" id="cpu_load" value="{{ server.CPU_load ? server.CPU_load }}" disabled readonly>
        </div>
        <div class="mb-3">
            <label for="memory_load" class="form-label">Memory load</label>
            <input type="text" name="memory_load" class="form-control" id="memory_load" value="{{ server.memory_load ? server.memory_load }}" disabled readonly>
        </div>
        <div class="mb-3">
            <label for="memory_usage" class="form-label">Memory usage</label>
            <input type="text" name="memory_usage" class="form-control" id="memory_usage" value="{{ server.memory_usage ? server.memory_usage }}" disabled readonly>
        </div>
        <div class="mb-3">
            <label for="requests_amount" class="form-label">Amount of the requests</label>
            <input type="text" name="requests_amount" class="form-control" id="requests_amount" value="{{ server.requests_amount ? server.requests_amount }}" disabled readonly>
        </div>
        <div class="mb-3">
            <label for="latency" class="form-label">Latency</label>
            <input type="text" name="latency" class="form-control" id="latency" value="{{ server.latency ? server.latency }}" disabled readonly>
        </div>
        <button type="submit" class="btn btn-success">Обновить данные о сервере</button>
    </form>
{% endblock %}
